{$container}{
    max-width: $container_width;
    padding-left: $container_gutter;
    padding-right: $container_gutter
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 89;
    clearfix();
}
{$pre}beta{
	display: inline-block;
	font-size: $size_xs;
	background-color: $color_base;
	color: $color_white;
	line-height: 18px;
	padding: 0 3px;
}