<div class="uo-header" data-header-toggle="true">
    <div class="uo-header__nav">
        <div class="uo-nav">
            <a class="uo-nav__brand" data-header-trigger="true">
                <svg class="uo-nav__logo"><use xlink:href="#logo" /></svg>
                <svg class="uo-nav__menu"><use xlink:href="#icon-menu" /></svg>
                <svg class="uo-nav__close"><use xlink:href="#icon-close" /></svg>
            </a>
            <small class="uo-nav__help">or press ESC</small>
            <button class="uo-nav__item" disabled><svg class="uo-nav__arrow"><use xlink:href="#icon-arrow-left" /></svg></button>
            <button class="uo-nav__item"><svg class="uo-nav__arrow"><use xlink:href="#icon-arrow-right" /></svg></button>
        </div>
    </div>
    <div class="uo-header__main">
        <div class="uo-header__row">
            <div class="uo-header__col">
                <div class="uo-header__content">
                    <p class="uo-header__title">UIout <sup class="uo-beta">BETA</sup> v1.0 </p>
                    <h2 class="uo-header__disp">Open source which means that you are free to modify and use them for your personal and commercial projects. </p>
                    <br>
                    <p class="uo-header__disp">
                        Let me know your thoughts <a>Twitter</a>
                    </p>
                    <p class="uo-header__disp">
                        Join our project <a>Github</a>
                    </p>
                    <br>
                    <p class="uo-header__disp">
                        Contributors<br>
                        <a target="_blank" href="https://github.com/dhamothy">@dhamu</a> <small>Designer & Front-end developer</small><br>
                    </p>
                    <br>
                    <p class="uo-header__disp">
                        Collaborators<br>
                        <a target="_blank" href="https://github.com/karthikeyanRED">@karthi</a> <small>Full stack developer</small><br>
                    </p>
                    <br>
                </div>
            </div>
            <div class="uo-header__col uo-header__invert">
                <div class="uo-header__content">
                    <p class="uo-header__title">Upcoming projects</p>
                    <p class="uo-header__disp">&mdash; UIout Framework</p>
                    <br>
                    <p class="uo-header__title">Other products</p>
                    <p class="uo-header__disp">&mdash; <a target="_blank" href="http://mechetronz.com">Mechetronz</a> <small>(India only) Industrial safety products and travel service</small></p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>