<aside class="fw-wrapper__aside">
    <div class="fw-wrapper__nav">
        <nav class="fw-nav fw-nav--right">
            {% for dataFw in site.data.fw %}
            {% assign dataComp = dataFw.comp %}
            {% for comp in dataComp %}
            {% assign fwc = {{comp}}%}
            {% for fw in site.data[fwc] %}
            <div class="fw-nav__list">
                <a class="fw-nav__title" href="#{{ fw.title }}">{{ fw.title | upcase }}</a>
                {% for fwType in fw.type %}
                {% if fwType.name != null %}
                <a class="fw-nav__item" href="#{{ fw.title }}-{{ fwType.name }}">{{ fwType.name | capitalize }}</a>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
			{% endfor %}
            {% endfor %}
        </nav>
    </div>
</aside>