<aside class="fw-wrapper__aside">
    <div class="fw-wrapper__nav">
        <nav class="fw-nav fw-nav--right">
            {% for dataFw in site.data.fw %}
            {% assign dataComp = dataFw.comp %}
            {% for comp in dataComp %}
            {% assign fwc = {{comp}}%}
            {% for fw in site.data[fwc] %}
            <div class="fw-nav__list">
                <div class="fw-nav__title">{{ fw.title }}</div>
                {% for fwType in fw.type %}
                <a class="fw-nav__item">{{ fwType.name }}</a>
                {% endfor %}
            </div>
            {% endfor %}
			{% endfor %}
            {% endfor %}
        </nav>
    </div>
</aside>