<header class="fw-wrapper__header">
    <div class="fw-wrapper__brand">
        <a class="fw-brand"><svg class="fw-brand__logo"><use xlink:href="#logo" /></svg>Framework</a>
    </div>
    <div class="fw-wrapper__nav">
        <nav class="fw-nav">
            {% for dataFw in site.data.fw %}
            <div class="fw-nav__list">
                <div class="fw-nav__title">{{dataFw.title}}</div>
                {% for dataFwComp in dataFw.comp %}
                <a class="fw-nav__item">{{ dataFwComp }}</a>
                {% endfor %}
            </div>
            {% endfor %}
        </nav>
    </div>
</header>