<div class="fw-sections">
    {% for dataFw in site.data.fw %}
    {% for dataFwComp in dataFw.comp %}
    {% assign fwComp = {{dataFwComp}}%}
    {% for comp in site.data[fwComp] %}
    <section class="fw-section" id="{{ comp.title }}">
        <header class="fw-section__header">
            <h1 class="fw-section__title">{{ comp.title | upcase }}</h1>
            <p class="fw-section__disp">{{ comp.disp }}</p>
        </header>
        <div class="fw-section__content">
            {% for compType in comp.type %}
            <div class="fw-section__demo" fw-demo="true" id="{{ comp.title }}-{{ compType.name }}">
                {% if compType.name != null %}
                <h2 class="fw-section__heading">{{ compType.name | capitalize }}</h2>
                {% endif %}
                {% if compType.caption != null %}
                <p class="fw-section__caption">{{ compType.caption }}</p>
                {% endif %}
                <div class="fw-section__preview" fw-demo-preview="true">{{ compType.html }}</div>
<div class="fw-section__code" >
{% highlight html %}
{% for compHtml in compType.html %}{{ compHtml }}
{% endfor %}{% endhighlight %}</div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endfor %}
    {% endfor %}
    {% endfor %}
</div>