#{$button}{
	@include ui-button();
	
	&#{$mod}{
		&base{
			@include ui-button-state();
		}
		&primary{
			@include ui-button-state(
		    $button_fill: $button_primary_fill,
		    $button_text: $color_white);
		}
		&info{
			@include ui-button-state(
		    $button_fill: $button_info_fill,
		    $button_text: $color_white);
		}
		&success{
			@include ui-button-state(
		    $button_fill: $button_success_fill,
		    $button_text: $color_white);
		}
		&danger{
			@include ui-button-state(
		    $button_fill: $button_danger_fill,
		    $button_text: $color_white);
		}
		&warn{
			@include ui-button-state(
		    $button_fill: $button_warn_fill,
		    $button_text: $color_white);
		}
		&disabled{
			@include ui-button-disabled();
		}
	}
}