#{$button}{
	@include button();
	// @include button-disabled();
	
	&--{
		&base{
			@include button-state();
		}
		&primary{
			@include button-state(
		    $button_fill: $button_primary_fill,
		    $button_text: $color_white);
		}
		&info{
			@include button-state(
		    $button_fill: $button_info_fill,
		    $button_text: $color_white);
		}
		&success{
			@include button-state(
		    $button_fill: $button_success_fill,
		    $button_text: $color_white);
		}
		&danger{
			@include button-state(
		    $button_fill: $button_danger_fill,
		    $button_text: $color_white);
		}
		&warn{
			@include button-state(
		    $button_fill: $button_warn_fill,
		    $button_text: $color_white);
		}
	}
}