.overflow-hidden{
	overflow: hidden;
}
.{$pre}-{$section}{
	&__{
		&row{
			
			+mq(gt-md){
				display: flex;
				min-height: 600px;
				height: 100vh;
			}
		}
		&col{
			flex: 1;
			overflow: hidden;
		}
		&project{
			position: relative;
			height: 100%;
			overflow: hidden;
			cursor: pointer;

			&:after{//don't remove or iframe body will scroll
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(0,0,0,.3);
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: $size_h1;
				color: $color_white;
				text-shadow: 1px 2px 3px rgba(#fff,.4);
				transition: .2s;
			}
			&:hover{
				&:after{
					content: 'Click to preview';
					background-color: rgba(0,0,0,.65);
				}
			}
		}
		&frame{
			position: relative;
			width: 100%;
			height: 100%;
			min-height: 360px;

			&--open{
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: $section_frame_zindex;
			}
		}
		&main{
			position: relative;
			padding: 60px 30px 120px;

			+mq(gt-md){
			// 	padding: 90px;
				padding-left: 45px;
			}
		}
		&header{
			margin-bottom: 45px;
		}
		&title{
			margin-bottom: 0;
			line-height: 1.2;
			display: inline-block;
			margin-right: 12px;
			
			+mq(md){
				font-size: $size_h2;
			}
		}
		&count{
			font-size: $size_h2;
			line-height: 1;
			pointer-events: none;
			color: $color_muted;
			margin-right: 12px;

			+mq(gt-md){
				margin-bottom: 60px;
			}
		}
		&version{
			// margin-left: 12px;
			color: $color_muted;
			font-size: $size_xl;
		}
		&actions{			
			a{
				margin-right: 15px;
			}
		}
		&footer{
			margin-top: 45px;
		}
		&option{
			position: absolute;
			bottom: 60px;
			right: 60px;
			z-index: 100;
			text-align: right;
		}
		&source{
			button();
		}
		&close{
			button();
			position: fixed;
			top: 30px;
			right: 30px;
			z-index: $section_close_zindex;
			display: none;

			&:after{
				content: 'or press ESC'
				position: absolute;
				left: 0;
				right: 0;
				bottom: 3px;
				font-size: $size_xs;
				pointer-events: none;
				line-height: 1;
			}
			&--open{
				display: inline-block;
			}
		}
		//color
		&muted{
			color: $color_muted;
		}
	}
	&--{
		&invert{
			background-color: $color_black;
			color: $color_white;
		}
	}
}