<head>
    <title>{{page.title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Grab Awesome UIs HTML">
    <link rel="icon" href="assets/images/brand/uiout-fav.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/images/brand/uiout-fav.png">        
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>