{% for project in site.data.project %}
{% capture thecycle %}{% cycle 'ui-section--invert', '' %}{% endcapture %}
<section class="ui-section {{ thecycle }}" data-preview-project="true" >
    <div class="ui-section__row">
        <div class="ui-section__col">
            <div class="ui-section__main">
                <header class="ui-section__header">
                    <span class="ui-section__count">#{{ project.count }}</span>
                    <h1 class="ui-section__title">{{ project.title }}</h1>
                    <span class="ui-section__version">v{{ project.version }}</span>
                </header>
                <div class="ui-section__content">
                    <p class="ui-section__disp">{{ project.disp }}</p>
                    <p class="ui-section__tags">{{ project.tags }}</p>
                    <p class="ui-section__actions">
                        <a class="ui-section__action" data-preview-open="true">Preview</a>
                        <a class="ui-section__action" target="_blank" href="{{ project.refer }}">Reference</a>
                    </p>
                </div>
                <footer class="ui-section__footer">
                    <a class="ui-section__source" target="_blank" href="https://github.com/dhamothy/uiout/tree/master/project/{{ project.url }}">Download for free</a>
                </footer>
            </div>
        </div>
        <div class="ui-section__col">
            <div class="ui-section__project" data-preview-open="true">
                <div class="ui-section__preview" data-preview-frame="true"><iframe class="ui-section__frame" src="project/{{ project.url }}/index.html"></iframe></div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
