$pre 							: ".ui-";
$ele							: "__";
$mod							: "--";

//==============================================================================
//	MODULE
//==============================================================================
//------------------------------------------------------------------------------
//	button
//------------------------------------------------------------------------------
$button 						: $pre+"btn";

//------------------------------------------------------------------------------
//	input
//------------------------------------------------------------------------------
$input 							: $pre+"input";

//------------------------------------------------------------------------------
//	textarea
//------------------------------------------------------------------------------
$textarea 						: $pre+"textarea";