//sass --watch --no-cache assets/css/style.scss:assets/css/style.css --style compressed
//============================================================================================
// VARIABLE
//============================================================================================
//--------------------------------------------------------------------------------------------
// color
//--------------------------------------------------------------------------------------------
//brand
$color_primary:   				#d00;

//base
$base_text: 					#333;

//accent
$accent_text: 					#666;
$accent_fill: 					#f5f5f5;

//muted
$muted_text: 					#999;
$muted_fill: 					#e0e0e0;

//--------------------------------------------------------------------------------------------
// layout
//--------------------------------------------------------------------------------------------
$header_gutter:					12px;

$section_gutter_st: 			24px;
$section_gutter_lg: 			60px;

$mq_lg: 						1000px;

//============================================================================================
// SELECTOR
//============================================================================================
$prefix:						".fw-";


//============================================================================================
// CSS RULES
//============================================================================================
code{
	background-color: $muted_fill;
	color: $base_text;
}
#{$prefix}wrapper{

	&__{
		&container{
			height: 100vh;
			display: flex;
			overflow: hidden;
		}
		&header,
		&aside{
			background: $accent_fill;			
			flex: 0 0 180px;
			height: 100vh;
			overflow-y: auto;
		}
		&main{
			flex: 1;
			height: 100vh;
			overflow-y: auto;
		}
		&header{
			display: flex;
			flex-direction: column;
		}
		&brand,
		&source{
			flex: 0 0 auto;
		}
		&nav{
			padding: 8px 0 32px;
			flex: 1 1 auto;
			overflow-y: auto;
		}
		&source{
			padding: 12px $header_gutter;
		}
	}
}
#{$prefix}brand{
	padding: 12px $header_gutter;
	display: block;
	font-size: 18px;

	&__{
		&logo{
			width: 32px;
			height: 32px;
			vertical-align: middle;
			margin-right: 9px;
		}
	}
}
#{$prefix}nav{
	&__{
		&title{
			padding: 0 $header_gutter;
			// text-transform: uppercase;
			font-size: 10px;
			font-weight: bold;
			margin-bottom: 4px;
		}
		&list{
			margin-bottom: 20px;
		}
		&item{
			display: block;
			color: $accent_text;
			padding: 4px $header_gutter 4px ($header_gutter + 8px);
			border-right: 3px solid transparent;
			// text-transform: capitalize;

			&[navActive]{
				color: $base_text;
				border-right-color: $color_primary;
				background-color: $muted_fill;
			}
		}
	}
	&--{
		&right{
			padding-top: 12px;

			#{$prefix}nav{
				&__{
					&item{
						border-right-width: 0;
						border-left: 3px solid transparent;

						&[navActive]{
							color: $base_text;
							border-left-color: $color_primary;
						}
					}
				}
			}
		}
	}
}
#{$prefix}source{
	border-radius: 2px;
	padding: 4px 12px;
	border: 1px solid;
	display: block;
	text-align: center;
	background-color: white;

	& ~ &{
		margin-top: 8px;
	}
}
#{$prefix}section{
	&s{
		padding-left: $section_gutter_st;
		padding-right: $section_gutter_st;

		@media (min-width: $mq_lg){
			padding-left: $section_gutter_lg;
			padding-right: $section_gutter_lg;
		}
	}
	&{
		padding-top: $section_gutter_st;
		padding-bottom: $section_gutter_st;

		@media (min-width: $mq_lg){
			padding-top: $section_gutter_lg;
			padding-bottom: $section_gutter_lg;
		}
	}
	&__{
		&header{
			margin-bottom: 12px;
			padding-left: 12px;
			border-left: 3px solid $color_primary;
		}
		&title{
			font-size: 24px;
			line-height: 1.2;
			// text-transform: uppercase;
		}
		&disp{
			color: $accent_text;
			max-width: 600px;
		}
		&demo{
			padding-top: 24px;
		}
		&heading{
			font-size: 18px;
			margin-bottom: 8px;
			// text-transform: capitalize;
		}
		&caption{
			color: $accent_text;
		}
		&code{
			margin-top: 16px;
			// white-space: pre-line;
			background-color: $accent_fill;
			padding: 8px 16px;
			border-radius: 2px;
			max-height: 80vh;
			overflow: auto;
			font-family: monospace;

			code{
				background: none;
				color: inherit;
			}
		}
		&preview{

			> [class*="ui-"]{
				margin: 4px;
			}
		}
	}
}
#{$prefix}footer{
	background-color: $accent_fill;
	color: $accent_text;
	font-size: 12px;
	padding: 12px $section_gutter_st;
	display: flex;	
	justify-content: space-between;

	@media (min-width: $mq_lg){
		padding-left: $section_gutter_lg;
		padding-right: $section_gutter_lg;
	}
	a{
		border-bottom: 1px dotted;
	}
	&__{
		&nav{
			padding: 4px 0;
		}
	}
}
.highlight{
	.hll {
	    background-color: #ffc
	}

	.c {
	    color: #999
	}

	.err {
	    color: #a00;
	    background-color: #faa
	}

	.k {
	    color: #069
	}

	.o {
	    color: #555
	}

	.cm {
	    color: #09f;
	    font-style: italic
	}

	.cp {
	    color: #099
	}

	.c1 {
	    color: #999
	}

	.cs {
	    color: #999
	}

	.gd {
	    background-color: #fcc;
	    border: 1px solid #c00
	}

	.ge {
	    font-style: italic
	}

	.gr {
	    color: red
	}

	.gh {
	    color: #030
	}

	.gi {
	    background-color: #cfc;
	    border: 1px solid #0c0
	}

	.go {
	    color: #aaa
	}

	.gp {
	    color: #009
	}

	.gu {
	    color: #030
	}

	.gt {
	    color: #9c6
	}

	.kc {
	    color: #069
	}

	.kd {
	    color: #069
	}

	.kn {
	    color: #069
	}

	.kp {
	    color: #069
	}

	.kr {
	    color: #069
	}

	.kt {
	    color: #078
	}

	.m {
	    color: #f60
	}

	.s {
	    color: #d44950
	}

	.na {
	    color: #4f9fcf
	}

	.nb {
	    color: #366
	}

	.nc {
	    color: #0a8
	}

	.no {
	    color: #360
	}

	.nd {
	    color: #99f
	}

	.ni {
	    color: #999
	}

	.ne {
	    color: #c00
	}

	.nf {
	    color: #c0f
	}

	.nl {
	    color: #99f
	}

	.nn {
	    color: #0cf
	}

	.nt {
	    color: #2f6f9f
	}

	.nv {
	    color: #033
	}

	.ow {
	    color: #000
	}

	.w {
	    color: #bbb
	}

	.mf {
	    color: #f60
	}

	.mh {
	    color: #f60
	}

	.mi {
	    color: #f60
	}

	.mo {
	    color: #f60
	}

	.sb {
	    color: #c30
	}

	.sc {
	    color: #c30
	}

	.sd {
	    color: #c30;
	    font-style: italic
	}

	.s2 {
	    color: #c30
	}

	.se {
	    color: #c30
	}

	.sh {
	    color: #c30
	}

	.si {
	    color: #a00
	}

	.sx {
	    color: #c30
	}

	.sr {
	    color: #3aa
	}

	.s1 {
	    color: #c30
	}

	.ss {
	    color: #fc3
	}

	.bp {
	    color: #366
	}

	.vc {
	    color: #033
	}

	.vg {
	    color: #033
	}

	.vi {
	    color: #033
	}

	.il {
	    color: #f60
	}
}