@mixin ui-button(){
    text-decoration: none!important;
    border-width: 0;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: .2s;
    position: relative;
    font-size: $button_size;
    padding: 0 $button_gutter;
    height: $button_height;
    line-height: $button_height;
    border-radius: $button_radius;
    box-shadow: $button_shadow;
}

@mixin ui-button-state(
    $button_fill: $button_base_fill,
    $button_text: $button_base_text
    ){
    background-color: $button_fill;
    color: $button_text;

    &:hover{
        background-color: darken($button_fill,5%);
        box-shadow: $button_state_shadow;
    }
    &:focus{
        background-color: darken($button_fill,8%);
        box-shadow: $button_state_shadow;
    }
    &[disabled]{
        cursor: not-allowed;
        background-color: lighten($button_fill,30%);
        color: lighten($button_text,50%); 
        box-shadow: $button_state_shadow!important;       
    }
}

@mixin ui-button-disabled(
    $button_disabled_fill: $button_disabled_fill,
    $button_disabled_text: $button_disabled_text
    ){
    background-color: $button_disabled_fill!important;
    color: $button_disabled_text!important;
    box-shadow: $button_state_shadow!important;
}
