$pre 					= ".uo-"

//------------------------------------------------------------------------------
//  layout
//------------------------------------------------------------------------------
$container 				= $pre+"container"

$header					= $pre+"header"

$nav					= $pre+"nav"

$section 				= $pre+"section"
