$prefix						: ".ca-";

//============================================================
//	LAYOUT
//============================================================
//------------------------------------------------------------
//	wrapper
//------------------------------------------------------------
$wrapper					: $prefix+"wrapper";
$wrapper-container			: "container";
$wrapper-main				: "main";

//------------------------------------------------------------
//	header
//------------------------------------------------------------
$header						: $prefix+"header";
$header-container			: "container";
$header-brand				: "brand";
$header-logo				: "logo";
$header-nav					: "nav";

//------------------------------------------------------------
//	nav
//------------------------------------------------------------
$nav						: $prefix+"nav";
$nav-item					: "item";

//------------------------------------------------------------
//	hero
//------------------------------------------------------------
$hero						: $prefix+"hero";
$hero-row					: "row";
$hero-column				: "col";
$hero-intro					: "intro";
$hero-social				: "social";

//------------------------------------------------------------
//	intro
//------------------------------------------------------------
$intro						: $prefix+"intro";
$intro-title				: "title";
$intro-caption				: "caption";
$intro-form					: "form";
$intro-field				: "field";
$intro-control				: "control";
$intro-button				: "button";

//------------------------------------------------------------
//	social
//------------------------------------------------------------
$social						: $prefix+"social";
$social-icon				: "icon";




