//==============================================================================
//	GLOBAL
//==============================================================================
//------------------------------------------------------------------------------
//  color
//------------------------------------------------------------------------------
// global
$color_white                   	: #ffffff;    //white
$color_black                   	: #000000;    //black
$color_primary                 	: #266ff9;    //black
$color_stroke					: #cccccc;	  //gray

// text and fill
//base
$base_fill                    	: $color_white;
$base_text                    	: #333333;
$base_stroke					: $color_stroke;

//muted
$muted_text                   	: #999999;

//  hyperlink
$link_text                    	: currentColor;
$link_hover_text              	: currentColor;

$disabled_fill					: lighten($color_black,90%);
$disabled_text					: lighten($color_black,72%);

//------------------------------------------------------------------------------
//  font-family
//------------------------------------------------------------------------------
$family_sans          			: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$family_serif               	: Georgia, Cambria, Times New Roman, Times, serif;
$family_monospace            	: Menlo, Monaco, Consolas, Courier New, monospace;

//------------------------------------------------------------------------------
//  font-weight
//------------------------------------------------------------------------------
$weight_light					: 300;
$weight_normal					: 500;
$weight_bold					: 600;
$weight_bolder					: 700;

//------------------------------------------------------------------------------
//  font-size
//------------------------------------------------------------------------------
$size_xs                     	: 10px;
$size_sm                     	: 12px;
$size_st                     	: 14px;
$size_md                    	: 16px;
$size_lg                     	: 18px;
$size_xl                     	: 24px;

//heading
$size_h1                     	: 45px;
$size_h2                     	: 32px;
$size_h3                     	: $size_xl;
$size_h4                     	: $size_lg;
$size_h5                     	: $size_md;
$size_h6                     	: $size_st;

//------------------------------------------------------------------------------
//	shadow
//------------------------------------------------------------------------------
$shadow_dp1						: 0 3px 5px rgba(0,0,0,.2),0 0 1px rgba(0,0,0,.2);

//------------------------------------------------------------------------------
//  base
//------------------------------------------------------------------------------
$base_family                   	: $family_sans;
$base_weight	             	: $weight_normal;
$base_size                     	: $size_st;
$base_lineheight              	: 1.4;

//------------------------------------------------------------------------------
//container
//------------------------------------------------------------------------------
$container_inner				: 1000px;
$container_gutter			 	: 30px;
$container_width				: $container_inner + ($container_gutter * 2);

//==============================================================================
//	MODULE
//==============================================================================
//------------------------------------------------------------------------------
//	button
//------------------------------------------------------------------------------
$button_shadow					: $shadow_dp1;
$button_gutter					: 21px;
$button_height					: 36px;
$button_radius					: 2px;
$button_size					: $size_st;

//base color
$button_base_text				: $base_text;
$button_base_fill				: $color_white;

//primary
$button_primary_fill			: $color_primary;

//disabled
$button_disabled_text			: $disabled_text;
$button_disabled_fill			: $disabled_fill;



