//------------------------------------------------------------------------------
//  clearfix
//------------------------------------------------------------------------------
@mixin clearfix() {
    &:before,
    &:after{
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//------------------------------------------------------------------------------
//  horizontal line
//------------------------------------------------------------------------------
@mixin hr(){
    border-width: 0;
    height: 1px;
    background-color: $base_stroke;
    overflow: visible;
}

//------------------------------------------------------------------------------
//  box dimesion
//------------------------------------------------------------------------------
@mixin box($width, $height:$width){
    width: $width;
    min-width: $width; //don't remove, while using flex this is required
    height: $height;
}