$pre 					= "ui"

//------------------------------------------------------------------------------
//  layout
//------------------------------------------------------------------------------
//container
$container 				= "container"

//header
$header					= "header"
$nav					= "nav"

//footer
$footer					= "footer"

//------------------------------------------------------------------------------
//  pages
//------------------------------------------------------------------------------
//homepage
$section 				= "section"