//------------------------------------------------------------------------------
//  color
//------------------------------------------------------------------------------
$color_white                   	= #ffffff    //white
$color_black                   	= #000000    //black

$color_base                    	= #333333    //black
$color_muted                   	= #999999    //gray
$color_brand                   	= #222222    //black

//------------------------------------------------------------------------------
//  hyperlink
//------------------------------------------------------------------------------
$link_color                    	= #333333    
$link_hover_color              	= darken($link_color, 5%)

//------------------------------------------------------------------------------
//  font-family
//------------------------------------------------------------------------------
$family_sans          			= -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Helvetica Neue, Helvetica, sans-serif
$family_serif               	= Georgia, Cambria, Times New Roman, Times, serif
$family_monospace            	= Menlo, Monaco, Consolas, Courier New, monospace

//------------------------------------------------------------------------------
//  font-size
//------------------------------------------------------------------------------
$size_xs                     	= 10px
$size_sm                     	= 12px
$size_st                     	= 14px
$size_md                    	= 16px
$size_lg                     	= 18px
$size_xl                     	= 24px

//------------------------------------------------------------------------------
//  font-weight
//------------------------------------------------------------------------------
$weight_light					= 300;
$weight_normal					= 500;
$weight_bold					= 600;
$weight_bolder					= 700;

//------------------------------------------------------------------------------
//  heading
//------------------------------------------------------------------------------
//font-size
$size_h1                     	= 45px
$size_h2                     	= 32px
$size_h3                     	= $size_xl
$size_h4                     	= $size_st
$size_h5                     	= $size_sm
$size_h6                     	= $size_xs

//------------------------------------------------------------------------------
//  base
//------------------------------------------------------------------------------
$base_family                   	= $family_sans
$base_weight	             	= $weight_light
$base_size                     	= $size_md
$base_lineheight              	= 1.5


//colors
$base_text                     	= $color_base
$base_fill                     	= $color_white

//------------------------------------------------------------------------------
//container
//------------------------------------------------------------------------------
$container_gutter			 	= 30px
$container_inner				= 1000px
$container_width				= $container_inner + ($container_gutter * 2)

